

	<div class="container">
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<section>
					<div class="container">
						<div class="row">
							<main class="col-md-12">
								<h2>Welcome to My About Page</h2>
								<p>
									Hello! I'm Taslima Parvin, a student at Seneca DAD Fall 2023 Program. Thank you for visiting my About page.
									Here, you'll find some information about me and my journey in the program.
								</p>
				
								<!--  information about myself below -->
								<h3>About Me</h3>
								<p>
									My student ID is 112339171. I'm passionate about visiting new places and
									always eager to learn new things. Feel free to explore more about me in the sections below.
								</p>
							</main>
						</div>
					</div>
				</section>


				<!-- End your code here  -->

			</main>
		</div>
	</div>
