

		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<section>
					<h1>Welcome to my website!</h1>
					<p>
						I am <strong>Taslima Parvin</strong> studying Database Application Developer at <strong>Seneca
							college, Newham campus.</strong>
					</p>

					<!-- Section 3 -->
					<h2>About This Website</h2>
					<p class="p-1  underline">This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data,
						including: All Students, Students by Course, A Single Student By Student Number, All TAs, and All
						Courses. You can navigate to these pages using the links in the navigation bar. For example,
						<a href="/students" target="_blank">All Students</a>,
						<a href="/students?course=3" target="_blank">Students by Course</a>,
						<a href="/student/2" target="_blank">A Single Student By Student Number</a>,
						<a href="/tas" target="_blank">All TAs</a>,
						and <a href="/courses" target="_blank">All Courses</a>.
					</p>

					<!-- Section 5 -->
					<h2>HTML5 Introduction</h2>
					<p class="p">This site utilizes HTML5: a markup language used for structuring and presenting content on the World
						Wide Web. HTML5 incorporates the latest features, providing a more robust and interactive web
						experience.</p>
				</section>
                <br>
				<br>
				<h3>Tags</h3>
				<p>
					Tags are the basic elements of HTML, serving as the foundational building blocks that define the structure and content of a web page. 
					These tags are constructed using angle brackets (<>). Two main types of tags exist: opening tags and closing tags.
					 Content is placed between these opening and closing tags. Commonly used tags include::
						<ul>

							<li>&lt;h1&gt; to &lt;h6&gt;: Define headings of different levels(h1,h2,h3,h4,h5,h6).</li>
							<li>&lt;p&gt;: Used to write a paragraph.</li>
							<li>&lt;li &gt;: Used for list item.There are two types of lists ordered and unordered.</li>
							<li>&lt;ol&gt;: Defines an ordered list. Ordered list has sequential numbers.</li>
							<li>&lt;ul&gt;: Defines an unordered list.Unorder list shown with a <strong>"."</strong></li>
							<li>&lt;a &gt;: Defines a hyperlink.</li>
							<li>&lt;img &gt;: Embeds an image.</li>
							
						</ul>
				</p>
				<h3>Attributes:</h3>
				<p>
					Attributes provide additional information about<strong>HTML</strong>  elements and are always included in the opening
					tag. They are added to the tag name and are usually name-value pairs. Some common attributes
					include:

					<ul>
						<li>href: Used for the URL in <a> (hyperlink) tags.</li>
						<li>src: Used for source URL of an image in <img> tags.</li>
						<li>id: Assigns a unique identifier to an element.You can not reuse id.</li>
						<li>class: Assigns one or more class names to an element. Classes can be reused.</li>
					</ul>
				</p>


				<!-- End your code here  -->

			</main>
		</div>
	

