

	<div class="container">
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->

				<h1>Table</h1>
				<style>
					table,
					tr,
					th,
					td {
						border: 1px solid;
					}
				</style>
			<table style="width: 80%;">
				<caption>Table 1: Stuednts' first name ,last name and email of seneca college.</caption>
				<thead>
					<tr>
						
						<th colspan="1">First Name</th>
						<th colspan="1">Last Name</th>
						<th colspan="3">Email</th>
						
					</tr>
				</thead>
					<tbody>
						<tr>
						
							<td>Taslima</td>
							<td>Parvin</td>
							<td>tparvin@myseneca.ca</td>
							
							
						</tr>
						<tr>
							
							<td>Vijay</td>
							<td>Yadav</td>
							<td>vyadav@myseneca.ca</td>
							
						</tr>
						<tr>
							
							<td>Vasu </td>
							<td>Patel</td>
							<td>vpatel@myseneca.ca</td>
							
						</tr>
						<tr>
							
							<td>Vimla</td>
							<td>Yashu</td>
							<td>vyashu@myseneca.ca</td>
							
						</tr>
						<tr>
							
							<td>Sara </td>
							<td>Akram</td>
							<td>sakram@myseneca.ca</td>
							
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6" class="text-center"> Seneca Stusent</td>
						</tr>
					</tfoot>
				</table>
<table border="1">
	<caption>Table 2:  Table 2 with Different Content</caption>
	<thead>
	  <!-- Row 1: Text -->
	  <tr>
		<td colspan="1">Text 1</td>
		<td colspan="2">Text 2</td>
		<td colspan="3">Text 3</td>
	  </tr>
	</thead>
	<tbody>
	  <!-- Row 2: Website Links -->
	  <tr>
		<td><a href="https://www.forbes.com/home-improvement/features/most-beautiful-cities-united-states/" target="_blank">forbes</a></td>
	 
		<td colspan="2"><a href="https://www.canadaswonderland.com/events/camp-spooky/?utm_id=23FSPT&utm_medium=cpc&utm_source=msn&&msclkid=639db10770af1210cb11d42b556304d5&utm_source=bing&utm_medium=cpc&utm_campaign=Haunt_Daytime_Phrase_10601&utm_term=fall%20attractions&utm_content=Haunt_Daytime_Activities&gclid=639db10770af1210cb11d42b556304d5&gclsrc=3p.ds" target="_blank">WonderLand</a></td>
	  
		<td><a href="https://www.thrillophilia.com/blog/scary-places-around-the-world/" target="_blank">scary</a></td>
	  </tr>
	</tbody>
	<tfoot>
	  <!-- Row 3: Images from Views Folder -->
	  <tr>
		<td onclick="openImage('/images/happy.jpg')">Image 1</td>
		<td colspan="2" onclick="openImage('/images/Confused.png')">Image 2</td>
		<td onclick="openImage('/images/Angry.jpg')">Image 3</td>
	  </tr>
	</tfoot>
  </table>
  
  <script>
	function openImage(imagePath) {
	  window.open(imagePath, '_blank');
	}
  </script>
  
  <p>
	In this table, you can see different types of content in each row. The first row contains text, the
	second row has website links, and the third row consists of images from the "images" folder which opens in a different window once clicked.
  </p>
 <!-- Table 2 -->
<table border="1">
	<caption>Table 2</caption>
	<thead>
	  <tr>
		<th>Header A</th>
		<th>Header B</th>
		<th>Header C</th>
	  </tr>
	</thead>
	<tbody>
		 <!-- Row 2: Images from internet,webpage,text -->
	  <tr>
		<td><img src="/images/Happy.jpg" alt="Happy Face" width="100" height="100"></td>
		<td>Hello</td>
		<td><a href="https://web700.ca/" target="_blank">Web700</a></td>
	  </tr>
	   <!-- Row 3: Images from internet,webpage,text -->
	  <tr>
		<td>Hi</td>
		<td><a href="https://www.bing.com/?PC=L621" target="_blank">Bing Home</a></td>
		<td><a href="https://3.bp.blogspot.com/-jjQhk7-L3Hc/Woq1rX-ip1I/AAAAAAAAAm8/lwhhBOPKSRoo8WQC-1St08F0ocZCsP_CwCLcBGAs/s1600/Publication2.jpg" target="_blank">
			<img src="https://3.bp.blogspot.com/-jjQhk7-L3Hc/Woq1rX-ip1I/AAAAAAAAAm8/lwhhBOPKSRoo8WQC-1St08F0ocZCsP_CwCLcBGAs/s1600/Publication2.jpg" alt="Publication Image" width="100" height="100">
		</a></td>
	  </tr>
	 
	</tbody>
  </table>

 <!-- Lists Section -->
<section>
    <h2>Lists</h2>
    
    <!-- Parent Ordered List ol -->
    <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>
            <!-- Child Unordered List ul -->
            <ul>
                <li>Nested item 1</li>
                <li>Nested item 2</li>
                <li>Nested item 3</li>
            </ul>
        </li>
        <li>List item 4</li>
        <li>List item 5</li>
    </ol> 
	 <!-- Description of the Content -->
	 <p>This section showcases a combination of ordered and unordered lists. It includes various list items, and one of the list items contains a nested unordered list with additional items.</p>
	</section>


	<!-- Images Section -->
<section>
	<h2>Images</h2>
  
	<!-- Image 1 -->
	<figure>
	  <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" width="300" height="300"  alt="Snowboarder in Halfpipe">
	  <figcaption>Snowboarder in Halfpipe</figcaption>
	</figure>
  
	<!-- Image 2 -->
	<figure>
	  <img src="https://wallsdesk.com/wp-content/uploads/2016/05/Waterfalls-Photos.jpg"  width="300" height="300" alt="Water Falls">
	  <figcaption>Second Image</figcaption>
	</figure>
  
	<!-- Image 3 -->
	<figure>
	  <img src="https://www.technocrazed.com/wp-content/uploads/2015/12/beautiful-wallpaper-download-14.jpg"  width="300" height="300"  alt="Stone">
	  <figcaption>Third Image</figcaption>
	</figure>
  
	<p>
	  This section showcases at least 3 images with descriptive alt text. These images are taken from internet.I have adjusted the sizes of the images using width and height.
	</p>
  </section>
	<!-- Section 4: Audio -->
	<section>
		<h2>Audio</h2>
		<audio controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-audio.mp3" type="audio/mp3">
		
		</audio>
	</section>
	 <!-- Section 5: Video -->
	 <section>
		<h2>Video</h2>
		<video width="320" height="240" controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.mp4" type="video/mp4">
		</video>
	</section>
	
	

				<!-- End your code here  -->

			</main>
		</div>
	</div>

	